---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  label: string;
}

const { label, class: className, ...rest } = Astro.props;
---

<button
  class:list={[
    "flex items-center space-x-1 text-sm font-medium text-foreground hover:text-primary focus:text-primary focus:outline-none",
    className
  ]}
  aria-expanded="false"
  {...rest}
>
  <span>{label}</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="h-4 w-4"
  >
    <polyline points="6 9 12 15 18 9"></polyline>
  </svg>
</button>
<slot />
