---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  value: string;
}

const { value, class: className, ...props } = Astro.props;
---

<div
  class:list={[
    "relative flex w-full cursor-pointer select-none items-center rounded-sm py-1.5 pl-8 pr-2 text-sm outline-none",
    "hover:bg-accent hover:text-accent-foreground",
    "focus:bg-accent focus:text-accent-foreground",
    "data-[disabled]:pointer-events-none data-[disabled]:opacity-50",
    className
  ]}
  data-value={value}
  data-select-item
  {...props}
>
  <span class="absolute left-2 flex h-3.5 w-3.5 items-center justify-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="h-4 w-4 opacity-0 data-[state=checked]:opacity-100"
    >
      <polyline points="20 6 9 17 4 12"></polyline>
    </svg>
  </span>
  <slot />
</div>
