---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  position?: "popper" | "item-aligned";
}

const { position = "popper", class: className, ...props } = Astro.props;

const positionClass =
  position === "popper"
    ? "data-[side=bottom]:translate-y-1 data-[side=left]:-translate-x-1 data-[side=right]:translate-x-1 data-[side=top]:-translate-y-1"
    : "";
---

<div
  class:list={[
    "relative z-50 min-w-[8rem] overflow-hidden rounded-md border bg-popover text-popover-foreground shadow-md",
    positionClass,
    className
  ]}
  {...props}
>
  <slot />
</div>
