---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"h2"> {}

const { ...attrs } = Astro.props;
---

<h2 class="text-lg font-semibold leading-none tracking-tight" {...attrs}>
  <slot />
</h2>
