---
import ModularHero from "@/components/hero/modular-hero.astro";
import Layout from "@/layouts/root-layout.astro";

import ContactForm from "@/components/contact-form.astro";
import "../styles/global.css";
---

<Layout title="Home">
  <main class="relative z-0">
    <ModularHero
      title="Welcome to our website"
      description="This is a description of our website"
      layout="rightAligned"
      ctaText="Get started"
      ctaHref="/sign-up"
      imageSrc="/assets/hero-1.jpg"
      imageAlt="Hero image"
      imagePosition="background"
      gradientOverlay={{
        startColor: "#ff80b5",
        endColor: "#000000",
        opacity: 0.25
      }}
    />
    <section class="container mx-auto h-[calc(200vh-100px)]">
      <ContactForm />
    </section>
  </main>
</Layout>
