---
import Alert from "@/components/alert.astro";
import ContactForm from "@/components/contact-form.astro";
import ModularHero from "@/components/hero/modular-hero.astro";
import LogoCarousel from "@/components/logo-carousel.astro";
import Layout from "@/layouts/root-layout.astro";
import MenubarContent from "../components/menubar/menubar-content.astro";
import MenubarItem from "../components/menubar/menubar-item.astro";
import MenubarMenu from "../components/menubar/menubar-menu.astro";
import MenubarSeparator from "../components/menubar/menubar-separator.astro";
import MenubarTrigger from "../components/menubar/menubar-trigger.astro";
import Menubar from "../components/menubar/menubar.astro";
import "../styles/global.css";
---

<Layout title="Home">
  <main class="relative z-0">
    <ModularHero
      title="Welcome to our website"
      description="This is a description of our website"
      layout="rightAligned"
      ctaText="Get started"
      ctaHref="/sign-up"
      imageSrc="/assets/hero-1.jpg"
      imageAlt="Hero image"
      imagePosition="background"
      gradientOverlay={{
        startColor: "#ff80b5",
        endColor: "#000000",
        opacity: 0.25
      }}
    />
    <section class="container mx-auto h-[calc(200vh-100px)]">
      <ContactForm />

      <div class="mb-8 flex justify-center">
        <!-- Added this wrapper div -->
        <Menubar>
          <MenubarMenu>
            <MenubarTrigger data-menu-id="file-menu">File</MenubarTrigger>
            <MenubarContent id="file-menu">
              <MenubarItem>New File</MenubarItem>
              <MenubarItem>Open...</MenubarItem>
              <MenubarItem>Save</MenubarItem>
              <MenubarSeparator />
              <MenubarItem>Exit</MenubarItem>
            </MenubarContent>
          </MenubarMenu>
          <MenubarMenu>
            <MenubarTrigger data-menu-id="edit-menu">Edit</MenubarTrigger>
            <MenubarContent id="edit-menu">
              <MenubarItem>Undo</MenubarItem>
              <MenubarItem>Redo</MenubarItem>
              <MenubarSeparator />
              <MenubarItem>Cut</MenubarItem>
              <MenubarItem>Copy</MenubarItem>
              <MenubarItem>Paste</MenubarItem>
            </MenubarContent>
          </MenubarMenu>
          <MenubarMenu>
            <MenubarTrigger data-menu-id="view-menu">View</MenubarTrigger>
            <MenubarContent id="view-menu">
              <MenubarItem>Zoom In</MenubarItem>
              <MenubarItem>Zoom Out</MenubarItem>
              <MenubarSeparator />
              <MenubarItem inset>Show Sidebar</MenubarItem>
              <MenubarItem inset>Show Status Bar</MenubarItem>
            </MenubarContent>
          </MenubarMenu>
          <MenubarMenu>
            <MenubarTrigger data-menu-id="help-menu">Help</MenubarTrigger>
            <MenubarContent id="help-menu">
              <MenubarItem>Documentation</MenubarItem>
              <MenubarItem>Report an Issue</MenubarItem>
              <MenubarSeparator />
              <MenubarItem>About</MenubarItem>
            </MenubarContent>
          </MenubarMenu>
        </Menubar>
      </div>
      <Alert title="Heads up!">
        <p>You can add components and dependencies to your app using the cli.</p>
      </Alert>

      <Alert title="Error" variant="destructive">
        <p>Your session has expired. Please log in again.</p>
      </Alert>
      <LogoCarousel />
    </section>
  </main>
</Layout>
