---
import Layout from "@/layouts/root-layout.astro";

import "../styles/global.css";
import { Icon } from "astro-icon/components";
---

<Layout title="Home">
  <main class="relative z-0 p-4"></main>
</Layout>

<script>
  function handleSignOut() {
    console.log("Sign out clicked");
    // Add your sign out logic here
  }
</script>
