---
import type { Brand } from "@/schema/brand";
import type { Link } from "@/schema/link";

import { getCollection } from "astro:content";

import links from "@/data/footer.json";

// get the current path
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.length > 1 ? pathname.slice(1) : pathname; // remove the first "/"

// get the brand
const brand: Brand[] = await getCollection("brand");

---

<footer class="rounded-lg shadow m-4 border-t-foreground/20 border-[0.5px]">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <slot name="footer-brand">
      <span class="text-sm sm:text-center">
        © {new Date().getFullYear()}
        <a href={brand[0].data.url} class="hover:underline">
          {brand[0].data.name}™
        </a>- All Rights Reserved.
      </span>
    </slot>
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
    <slot>
      {links.map((link: Link) => {
        return (
          <li>
            <a href={link.href} class="hover:underline me-4 md:me-6">{link.name}</a>
          </li>
        )
      })}
    </slot>
  </ul>
  </div>
</footer>
