---
import type { Brand } from "@/schema/brand";
import type { Link } from "@/schema/link";

import { getCollection } from "astro:content";

import links from "@/data/footer.json";

// get the current path
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.length > 1 ? pathname.slice(1) : pathname; // remove the first "/"

// get the brand
const brand: Brand[] = await getCollection("brand");
---

<footer
  class="container fixed bottom-0 left-0 right-0 m-4 mx-auto max-w-screen-lg rounded-lg border-[0.5px] border-foreground/20 text-muted-foreground shadow-[5px_5px_10px_-5px_foreground] backdrop-blur-md"
>
  <div class="mx-auto w-full max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <slot name="footer-brand">
      <span class="text-sm sm:text-center">
        © {new Date().getFullYear()}
        <a href={brand[0].data.url} class="hover:underline">
          {brand[0].data.name}™
        </a>- All Rights Reserved.
      </span>
    </slot>
    <ul class="mt-3 flex flex-wrap items-center text-sm font-medium sm:mt-0">
      <slot>
        {
          links.map((link: Link) => {
            return (
              <li>
                <a href={link.href} class="me-4 hover:underline md:me-6">
                  {link.name}
                </a>
              </li>
            );
          })
        }
      </slot>
    </ul>
  </div>
</footer>
