---
import { Icon } from "astro-icon/components";

const logos = [
  "logos:astro-icon",
  "logos:github-icon",
  "logos:microsoft-icon",
  "logos:vercel-icon",
  "logos:stripe",
  "logos:aws",
  "logos:azure"
];
---

<div class="relative flex overflow-x-hidden">
  <div class="animate-marquee flex whitespace-nowrap py-12">
    {logos.map((logo) => <Icon name={logo} class="mx-12 inline-block h-12 w-12" />)}
  </div>
  <div class="animate-marquee2 absolute top-0 flex whitespace-nowrap py-12">
    {logos.map((logo) => <Icon name={logo} class="mx-12 inline-block h-12 w-12" />)}
  </div>
</div>
