---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  speed?: number;
  percentage?: number;
  zIndex?: number;
}

const {
  speed = 5,
  percentage = 0,
  zIndex = 0,
  class: className,
  ...props
} = Astro.props;
---

<div
  class:list={["rellax overflow-y-hidden", className]}
  data-rellax-speed={speed}
  data-rellax-percentage={percentage}
  data-rellax-zindex={zIndex}
  {...props}
>
  <slot />
</div>

<script>
  import Rellax from "rellax";

  document.addEventListener("DOMContentLoaded", () => {
    const rellax = new Rellax(".rellax");
  });
</script>
