---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  class?: string;
}

const { class: className, ...props } = Astro.props;
---

<button
  class:list={[
    "flex cursor-default select-none items-center rounded-sm px-3 py-1.5 text-sm font-medium outline-none focus:bg-accent focus:text-accent-foreground data-[state=open]:bg-accent data-[state=open]:text-accent-foreground",
    className
  ]}
  role="menuitem"
  data-state="closed"
  aria-expanded="false"
  {...props}
>
  <slot />
</button>
