---
import Footer from "@/components/structure/footer/footer.astro";
import Header from "@/components/structure/header/header.astro";
import TwIndicator from "@/components/theme/tw-indicator.astro";
import Toast from "@/components/toast.astro";
import "@/styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header variant="floating" />
    <div class="relative flex flex-col min-h-screen">
      <main class="flex-1">
        <slot />
      </main>
      <Footer />
    </div>
    <Toast />
    <TwIndicator />
  </body>
</html>

<script>
  import { toast } from "toaster-ts";
  const button = document.querySelector("#test");
  button?.addEventListener("click", () => {
    toast.error("Event has been created");
  });
</script>
