---
import type { HeadProps } from "./head.astro";
import Themes from "astro-themes";
import TwIndicator from "@/components/theme/tw-indicator.astro";
import Toast from "@/components/toast.astro";
import Head from "./head.astro";
import Header from "@/components/structure/header/header.astro";
import Footer from "@/components/structure/footer/footer.astro";

import "@/styles/global.css";

interface Props extends HeadProps {}
---

<!doctype html>
<html lang="en">
  <Themes />
  <Head {...Astro.props} />
  <body>
    <Header variant="floating" />
    <div class="relative flex min-h-screen flex-col">
      <main class="flex-1">
        <slot />
      </main>
      <Footer />
    </div>
    <Toast />
    <TwIndicator />
  </body>
</html>

<script>
  import { toast } from "toaster-ts";
  const button = document.querySelector("#test");
  button?.addEventListener("click", () => {
    toast.error("Event has been created");
  });
</script>
