---
import Toast from "@/components/toast.astro";
import "../styles/global.css";
import "toaster-ts/dist/bundle.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <div class="container">
        Brand Here

      </div>
    </header>
    <slot />
    <footer>
      <div class="container">
        Brand Here
      </div>
    </footer>
    <Toast />
  </body>
</html>
